snippet filetype
	-- $1
	vim.api.nvim_create_autocmd({ "FileType" }, {
		pattern = "$1",
		group = vim.api.nvim_create_augroup("$1", { clear = true }),
		callback = function()
			$0
		end,
	})

snippet keymap
	vim.keymap.set("${1:n}", "$2", $3, {${0: silent = true, noremap = true }})

snippet lazy_keymap
	{ "$1", $2${0:, silent = true, noremap = true} },

snippet hightlight
	vim.api.nvim_set_hl(0, "$1", { $0 })
